.leaflet-control-geocoder form input:first-child {
	width: 200px;
}
.leaflet-control-geocoder a:after {
	content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" focusable="false"><path d="M15.44 14.06h-.73l-.26-.25a6 6 0 1 0-.64.64l.25.26v.72L18.64 20 20 18.64zm-5.49 0a4.12 4.12 0 1 1 4.12-4.12 4.11 4.11 0 0 1-4.12 4.12z"></path></svg>');
	left: 7px;
    position: absolute;
    top: 7px;
    opacity: 0.6;
}

.leaflet-control-geocoder a {
	/*background-image: url(images/geocoder.png);*/
	width: 36px;
	height: 36px;
}

.leaflet-control-geocoder a {
	background-position: 50% 50%;
	background-repeat: no-repeat;
	display: block;
}

.leaflet-control-geocoder {
	box-shadow: 0 1px 7px #999;
	background: #f8f8f9;
	moz-border-radius: 8px;
	webkit-border-radius: 8px;
	border-radius: 8px;
}

.leaflet-touch .leaflet-control-geocoder a {
	width: 44px;
	height: 44px;
}

.leaflet-control-geocoder .leaflet-control-geocoder-form,
.leaflet-control-geocoder-expanded .leaflet-control-geocoder-toggle {
	display: none;
}

.leaflet-control-geocoder-expanded .leaflet-control-geocoder-form {
	display: block;
	position: relative;
}

.leaflet-control-geocoder-expanded .leaflet-control-geocoder-form {
	padding: 5px;
}